body {
  display: block;
  margin: 0;
  color: #1b1a20;
  font-family: Roboto, sans-serif;
}

div {
  display: block;
}

main {
  padding: 20px 2%;
  max-width: 1200px;
  margin: 0 auto;
}

.banner {
  width: 100%;
}

.button-position {
  position: fixed;
  top: 0;
  right: 0;
}

.open {
  right: 0;
}

.bag {
  width: 33px;
  height: 33px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background: url("./asserts/img/lock.png") no-repeat;
  background-size: contain;
}

.bag-closed {
  position: absolute;
  top: 10px;
  left: -35px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url("./asserts/img/lock.png") no-repeat #000;
  background-size: contain;
}

.bag-open {
  width: 50px;
  height: 50px;
  color: #ececec;
  background-color: #1b1a20;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: -50px;
  cursor: pointer;
}

.bag-open:hover {
  background-color: #212027;
}

.control-cart {
  position: fixed;
  top: 0;
  width: 350px;
  height: 100%;
  background-color: #1b1a20;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: right .2s;
  -o-transition: right .2s;
  transition: right .2s;
}

.closed {
  right: -350px;
}

.content .header {
  color: #ececec;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 45px 0;
}

.content .carts-list {
  min-height: 240px;
}

.content .carts-list .item {
  position: relative;
  box-sizing: border-box;
  padding: 5%;
  color: white;
  font-size: 12px;
}

.content .title {
  font-weight: 700;
  font-size: 1.1em;
  vertical-align: middle;
}

.content .footer {
  width: 100%;
  box-sizing: border-box;
  padding: 5%;
  box-shadow: 0 -0.5em 1em rgba(0,0,0,.3);
  color: #5b5a5e;
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
}

.content .footer .sub {
  width: 20%;
  vertical-align: middle;
  display: inline-block;
}

.content .footer .price {
  width: 70%;
  text-align: right;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}

.content .footer .price p {
  display: block;
}

.content .footer .price .total {
  color: #eabf00;
  font-size: 20px;
  display: block;
}

.content .footer .check {
  color: #ececec;
  text-transform: uppercase;
  background-color: #0c0b10;
  text-align: center;
  padding: 15px;
  margin-top: 0;
  cursor: pointer;
  animation-name: background-color;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes background-color {
  0% { background-color: #0c0b10 }
  50% { background-color : #000}
  100% { background-color: #0c0b10 }
}

.container {
  float: left;
}

.inline {
  display: inline-block;
  width: 18%;
  padding: 20px;
}

.inline img {
  width: 100%;
  padding: 10px 20px;
}

.cart {
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid transparent;
}

.container .cart .title {
  position: relative;
  padding: 0 20px;
  height: 45px;
}

.container .cart .price {
  height: 60px;
}

.container .cart .price .installment {
  color: #9c9b9b;
}

.container .cart .price b {
  font-size: 1.5em;
  margin-left: 5px;
}

small {
  font-size: smaller;
}

.container .cart .btn {
  background-color: #1b1a20;
  color: #fff;
  padding: 15px 0;
  margin-top: 10px;
  cursor: pointer;

}

.container .cart .btn:hover {
  background-color: #ffc22b;
  transition: background-color .5s;
}