body {
  display: block;
  margin: 0;
  color: #1b1a20;
  font-family: Roboto, sans-serif;
}

h1 {
  margin-top: 2px;
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: bold;
}

p {
  display: block;
}

div {
  display: block;
}

label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 35px;
  height: 35px;
  font-size: .8em;
  margin-bottom: 8px;
  margin-right: 8px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
}

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0;
  font: 400 13px Arial;
}

small {
  font-size: smaller;
}

.banner {
  width: 100%;
}

.button-position {
  position: fixed;
  top: 0;
  right: 0;
}

.open {
  right: 0;
}

.bag {
  width: 33px;
  height: 33px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background: url("./asserts/img/lock.png") no-repeat;
  background-size: contain;
}

.quantity {
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #0c0b10;
  font-weight: 700;
  font-size: .7em;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  background-color: #eabf00;
  position: absolute;
  bottom: -5px;
  right: 0;
}

.bag-closed {
  position: absolute;
  left: -40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url("./asserts/img/lock.png") no-repeat transparent;
  background-size: cover;
}

.bag-open {
  width: 50px;
  height: 50px;
  color: #ececec;
  background-color: #1b1a20;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: -50px;
  cursor: pointer;
}

.bag-open:hover {
  background-color: #212027;
}

.control-cart {
  position: fixed;
  top: 0;
  width: 450px;
  height: 100%;
  background-color: #1b1a20;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: right .2s;
  -o-transition: right .2s;
  transition: right .2s;
}

.closed {
  right: -450px;
}

.content {
  height: 100%;
  overflow-y: scroll;
}

.content .header {
  color: #ececec;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 45px 0;
}

.content .carts-list {
  min-height: 280px;
}

.content .carts-list .item {
  position: relative;
  box-sizing: border-box;
  padding: 5%;
  color: white;
  font-size: 12px;
}

.content .title {
  font-weight: 700;
  font-size: 1.1em;
  vertical-align: middle;
}

.content .footer {
  width: 100%;
  box-sizing: border-box;
  padding: 5%;
  box-shadow: 0 -0.5em 1em rgba(0,0,0,.3);
  color: #5b5a5e;
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
}

.content .footer .sub {
  width: 20%;
  font-size:16px;
  vertical-align: middle;
  display: inline-block;
}

.content .footer .price {
  width: 80%;
  text-align: right;
  vertical-align: middle;
  display: inline-block;
}

.content .footer .price p {
  display: block;
}

.content .footer .price .total {
  color: #eabf00;
  font-size: 22px;
  display: block;
}

.content .footer .check {
  color: #ececec;
  text-transform: uppercase;
  background-color: #0c0b10;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  cursor: pointer;
  animation-name: background-color;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.content .footer .check:hover {
  animation-iteration-count: 0;
  background-color: #000;
}

@keyframes background-color {
  0% { background-color: #0c0b10 }
  50% { background-color : #000}
  100% { background-color: #0c0b10 }
}

.container {
  float: left;
}

.inline {
  display: inline-block;
  width: 18%;
  padding: 20px;
}

.inline img {
  width: 100%;
  padding: 10px 20px;
}

.cart {
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid transparent;
}

.container .cart .title {
  position: relative;
  padding: 0 5px;
  height: 45px;
}

.container .cart .price {
  height: 60px;
}

.container .cart .price .installment {
  color: #9c9b9b;
}

.container .cart .price b {
  font-size: 1.5em;
  margin-left: 5px;
}

.container .cart .btn {
  background-color: #1b1a20;
  color: #fff;
  padding: 15px 0;
  margin-top: 10px;
  cursor: pointer;

}

.filter {
  float: left;
  margin-left: 40px;
  margin-top: 20px;
  width: 15%;
}

.filter .title {
  margin-top: 2px;
  margin-bottom: 20px;
}

.filter .header {
  margin-left: 3px;
}

.filter-btn {
  display: inline-block;
  margin-bottom: 10px;
}

.checkmark:hover {
  transform: scale(1.2);
}

.checkmark:active {
  background-color: black;
  color: #fff;
}

.container .cart .btn:hover {
  background-color: #ffc22b;
  transition: background-color .5s;
}

.container .header {
  margin-bottom: 10px;
}

.container .products-found {
  margin: 16px;
}

.checkmark {
  display:inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  font-size: .8em;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  color: #1b1a20;
  background-color: #ececec;
  border: 1px solid transparent;
}

.cart img {
  width: 235px;
  height: 345px;
}

.sort {
  float: right;
  margin-top: 40px;
  margin-right: 20px;
}

.sort select {
  background-color: #fff;
  outline: none;
  border: 1px solid #ececec;
  border-radius: 2px;
  margin-left: 10px;
  width: auto;
  height: 35px;
  cursor: pointer;
}

.sort option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.carts-list .shelf-empty  {
  color: #ececec;
  text-align: center;
  line-height: 40px;
}

.carts-list .shelf-item {
  position: relative;
  box-sizing: border-box;
  padding: 5%;
  transition: background-color .2s,opacity .2s;
  display: inline-block;
  vertical-align: middle;
}

.carts-list .shelf-item:before {
  content: "";
  width: 90%;
  height: 2px;
  background-color: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  left: 5%;
}

.shelf-item .del {
  width: 15px;
  height: 15px;
  top: 14px;
  right: 5%;
  border-radius: 50%;
  position: absolute;
  background-size: auto 100%;
  background: url('./asserts/img/canceled.png') no-repeat;
  z-index: 2;
  cursor: pointer;
}

.shelf-item .del:hover {
  background-position-x: -15px;
}

.del:hover ~ .shelf-item {
  background: orange;
}

.details, .thumb, .price {
  display: inline-block;
  vertical-align: middle;
}

.carts-list .shelf-item .details {
  width: 57%;
  display: inline-block;
  vertical-align: middle;
  animation-name: background-panel-color;
}

.shelf-item .price {
  color: #eabf00;
  text-align: right;
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

.shelf-item .title {
  color: #ececec;
  margin: 0;
}

.shelf-item .desc {
  color: #5b5a5e;
  margin: 0;
}

.shelf-item .thumb {
  width: 15%;
  vertical-align: middle;
  margin-right: 3%;
  display: inline-block;
}

.carts-list .shelf-item .thumb img {
  width: 100%;
  height: auto;
}

.star-container small {
  color: #aaa;
  margin-bottom: 8px;
  display: inline-block;
}

.star-container {
  text-align: center;
}